@import 'breakpoints';
@import 'slick';
@import 'placeholder';
@import 'variables';

/* -----------------------------------------
 GLOBAL
----------------------------------------- */

html {
    height: 100%;
}

body,
html {
    min-height: 100%;
}

body {
    font: 300 14px/1.3 'Roboto', Arial, sans-serif;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}


/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #8a8a8a;
    -webkit-box-shadow: 0 0 0px 1000px #f2385a inset;
    background-color: rgba(#f2385a, 0.8) !important;
}

/* -----------------------------------------
 KEYFRAMES
----------------------------------------- */
@keyframes sonarEffect {
    0% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
        box-shadow: 0 0 0px 2px rgba($white-color,0.1), 
                    0 0 0 5px $pink-color,
                    0 0 5px 10px rgba($white-color,0.5);
    }
    100% {
        box-shadow: 0 0 0px 2px rgba($white-color,0.1),
                    0 0 10px 10px $pink-color,
                    0 0 10px 10px rgba($white-color,0.5);
        transform: scale(1.3);
        opacity: 0;
    }
}

.btn {
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #d7d7d7;
    border-radius: 24px;
    background-color: transparent;
    border-radius: 30px;
    transition: transform 0.1s ease-out,
                background-color 0.2s;
    cursor: pointer;
    color: inherit;
    
    &:hover {
        background: rgba($pink-color, 0.8);
        transform: scale(0.98);
        
        &:after {
            animation: sonarEffect 1.3s ease-out 75ms;
        }
    }

    &:active {
        transform: translateY(3px) scale(0.9);
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        box-shadow: 0 0 0 2px rgba($pink-color, 0.3);
        transform: scale(0.9);
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    }
}

.slick-slide {
    outline: 0;
}

.z-index {
    position: relative;
    z-index: 1;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.cf:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
} 

.section-title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: inherit;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1025px;
}

/* -----------------------------------------
 BODY
----------------------------------------- */
body {
    position: relative;
    transition: transform 0.45s;

    &.js-nav-open {
        transform: translateX(-3%);
    }
} 

/* -----------------------------------------
 HEADER
----------------------------------------- */

header {
    position: relative;
    background: #999 url('../img/header-bg.jpg') 50% no-repeat;
    background-size: cover;
    text-align: center;
    color: $white-color;
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.head-top {
    padding-top: 71px;
    
    @include max-width(sm) {
        padding-top: 35px;
    }
}

.head-logo {
    display: inline-block;
    font-size: 55px;
    margin-bottom: 73px;
    font-weight: 100;
}

.menu-toggle {
    float: right;
    display: none;
    position: relative;
    right: 15px;
    width: 35px;
    height: 27px;
    border: 0;
    background-color: transparent;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
    transition: right 0.2s;
    cursor: pointer;
    opacity: 0.75;
    

    &:hover span {
        background-color: $pink-color;
        }
    
    @include max-width(sm) {
        display: inline-block;
    }

    span {
        display: block;
        position: absolute;
        height: 5px;
        width: 50%;
        background: $white-color;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        
        &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
        }

        &:nth-child(odd) {
            left: 0;
            border-radius: 9px 0 0 9px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            top: 0;
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 11px;
        }

        &:nth-child(5),
        &:nth-child(6) {
            top: 22px;
        }
    }
}

.js-nav-open {

    .menu-toggle { 
        right: 250px;

        span {
            &:nth-child(1),
            &:nth-child(6) {
                transform: rotate(45deg);
            }

            &:nth-child(2),
            &:nth-child(5) {
                transform: rotate(-45deg);
            }

            &:nth-child(1) {
                left: 5px;
                top: 7px;
            }

            &:nth-child(2) {
                left: calc(50% - 3px);
                top: 7px;
            }

            &:nth-child(3) {
                left: -50%;
                opacity: 0;
            }

            &:nth-child(4) {
                left: 100%;
                opacity: 0;
            }

            &:nth-child(5) {
                left: 5px;
                top: 17px;
            }

            &:nth-child(6) {
                left: calc(50% - 3px);
                top: 17px;
            }
        }
    }

    .navigation {
        @include max-width(sm) {
            right: -3%;
        }
    }
}

.navigation {
    position: relative;
    float: right;
    width: 78%;
    text-align: right;
    color: rgba($white-color, 0.75);
    text-transform: uppercase;
    transition: right 0.2s ease-in-out;
    
    @include max-width(sm) {
        padding-right: 0;
        position: fixed;
        top: 0;
        right: -250px;
        bottom: 0;
        width: 250px;
        background-color: $pink-color;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        
        @include max-width(sm) {
            display: none;
        }
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        
        & + & {
            margin-left: 15px;
            
            @include max-width(sm) {
                margin-left: 0;
            }
        }

        @include max-width(sm) {
            display: block;
            
            &:not(:last-child) {
                border-bottom: 1px solid #9D122B;
            }

            &:not(:first-child) {
                border-top: 1px solid #F96983;
            }
        }
    }
    &__link {
        display: block;
        position: relative;
        text-transform: uppercase;
        font-weight: 900;
        
        @include max-width(sm) {
            padding: 8px 16px;
            border-left: 3px solid transparent;
            text-align: left;
            transition: all 0.2s ease-in-out;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: $white-color;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            
            @include max-width(sm) {
                content: none;
            }
        }

        &:after {
            bottom: 0;
            transform: translateY(10px);
        }

        &:hover {
            @include max-width(sm) {
                border-color: $blue-color;
                color: $blue-color;
            }

            &:after {
                opacity: 1;
                transform: translateY(5px);
            }
        }

        &:focus {
            
            &:after {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}

.intro {
    margin: 0 auto;
    padding: 245px 0 224px;
    
    @include max-width(sm) {
        padding: 145px 0 124px;
    }
    
    &__btn {
        font-size: 24px;
        font-weight: 100;
        height: 62px;
        padding: 15px 85px 15px 57px;
        border: 0;
        background-color: $pink-color;
        
        @include max-width(xxs) {
            padding: 15px 20px;
        }
    }
}


/* -----------------------------------------
 ABOUT
----------------------------------------- */
.about {
    padding: 63px 0 69px;

    &__title {
        color: $section-text-title;
        margin-bottom: 25px;
    }

    &__text {
        margin-top: 8px;
        margin-bottom: 24px;
        line-height: 20px;
    }

    &__btn {
        padding: 0 40px;
        height: 47px;
        line-height: 45px;
        border: 1px solid #d7d7d7;
        border-radius: 24px;
        margin-top: 14px;
        background-color: transparent;
    }
}

/* -----------------------------------------
 POPULAR
----------------------------------------- */
.popular {
    position: relative;
    padding: 65px 0 90px;
    color: $white-color;
    
    @include max-width(xxs) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    &__title {
        margin-bottom: 26px;
    }

    &__text {
        margin-bottom: 24px;
        line-height: 20px;
    }

    &__btn {
        margin-top: 10px;
    }

    &__left {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 39%;
        background-color: $blue-color;
        
        @include max-width(sm) {
            width: 100%;
        }
    }

    &__right {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 61%;
        background: $blue-color url('../img/popular-bg.jpg') 50% no-repeat;
        background-size: cover;
        
        @include max-width(sm) {
            display: none;
        }
    }
}

/* -----------------------------------------
 PORTFOLIO
----------------------------------------- */
.portfolio {
    padding-top: 66px;
    text-align: center;
    
    &__title {
        margin-bottom: 20px;
        color: $section-text-title;
    }
    
    &__text {
        margin: auto;
        margin-bottom: 15px;
        width: 66%;
        line-height: 20px;
        
        @include max-width(sm) {
            width: 100%;
        }
    }

    &__btn {
        margin-bottom: 54px;
        padding: 13px 24px;
    }

}

.portfolio-gallery {
    margin: auto;
    width: 100%;
    max-width: 1460px;
    
    @include max-width(360px) {
        [class^=col] {
            width: 100%;
        }
    }
    
    
    
    &__item {
        height: 200px;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* -----------------------------------------
 TESTIMONIALS
----------------------------------------- */
.testimonials {
    padding: 98px 0 95px;
    
    .slider {
        position: relative;
        margin: auto;
        max-width: 830px;

        .slider-arrow {
            display: block;
            position: absolute;
            top: 50%;
            width: 42px;
            height: 79px;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            z-index: 2;
            cursor: pointer;
            
            @include max-width(sm) {
                display: none !important;
            }
            
            &--prev {
                left: -70px;
                background-image: url('../img/arrow-prev.png');
                
                @include max-width(850px) {
                    left: 0;
                }
            }

            &--next {
                right: -83px;
                background-image: url('../img/arrow-next.png');
                
                @include max-width(850px) {
                    right: 0;
                }
            }
        }

        &__title {
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 25px;
            font-style: italic;
        }

        &__img-box {
            float: right;
            width: 230px;
            height: 230px;
            border-radius: 50%;
            
            @include max-width(700px) {
                display: none;
            }
            
            img {
                width: 230px;
                height: 230px;
                border-radius: 50%;
            }
        }
    }

    .slide {
        overflow: hidden;
        width: 100%;
        max-width: 830px;
        margin: auto;
    }

}

.slider-content {
    position: relative;
    padding-left: 95px;
    width: 63%;
    float: left;
    
    @include max-width(700px) {
        width: 100%;
    }
    
    &:before {
        position: absolute;
        top: -16px;
        left: 5px;
        content: '\201c';
        font-family: "Times New Roman";
        font-size: 149px;
        font-weight: 700;
        color: $blue-color;
        line-height: 1;
    }
}

/* -----------------------------------------
 FOOTER
----------------------------------------- */
footer {
    position: relative;
    padding: 52px 0 31px;
    color: $white-color;
}

.foot-navigation-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.foot-navigation {
    margin-bottom: 57px;
    
    @include max-width(sm) {
        margin-bottom: 15px;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
 
        & + & {
            margin-left: 15px;
            
            @include max-width(380px) {
                margin-left: 5px;
            }
        }
    }

    &__link {
        display: block;
        position: relative;
        text-transform: uppercase;
        font-weight: 900;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: $white-color;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
        }

        &:after {
            bottom: 0;
            transform: translateY(10px);
        }

        &:hover {

            &:after {
                opacity: 1;
                transform: translateY(5px);
            }
        }

        &:focus {
            
            &:before,
            &:after {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    } 
}

.footer-left {
    width: 61%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $pink-color;
}

.footer-right {
    width: 39%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #3c3c3c;
}

.social-box {

    &__title {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 15px;
    }

    @include max-width(sm) {
        margin-bottom: 15px;
    }
}

.social {
    padding: 0;
    margin: 0;
    font-size: 0;
    
    &__item {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        
        & + & {
            margin-left: 9px;
        }
    }

    &__link {
        display: block;
        width: 23px;
        height: 23px;
        line-height: 23px;
        transition: transform 0.2s ease-in-out;
        
        &:hover {

            .social__icon {
                transform: translateY(-5px);
                fill: #999;
            }
        }
    }

    &__icon {
        vertical-align: middle;
        width: 23px;
        height: 23px;
        fill: #ccc;
        transition: transform 0.2s ease-in-out;
    }
}

.subscribe-form {
    margin-bottom: 40px;
    
    @include max-width(sm) {
        margin-bottom: 15px;
    }
    
    &__title {
        margin-bottom: 12px;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__field {
        width: 60%;
        float: left;
        padding: 12px 20px;
        border: 1px solid $white-color;
        border-radius: 22px;
        background-color: transparent;
        color: $white-color;
    }

    &__btn {
        border: 0;
        width: 37%;
        padding-left: 0;
        padding-right: 0;
        float: right;
        background-color: $pink-color;
        
        @include max-width(350px) {
            width: 32%;
            float: none;
            margin-left: 12px;
        }
    }
}

.copyright {
    color: #a9a9a9;
    font-size: 12px;
}

.modal {
    position: fixed;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999999;
}

.modal .modal-content {
    width: 90%;
    max-width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    border-radius: 10px;
    margin: auto;
    background: rgba(255,255,255,.87);
    border: 2px solid #9E9E9E;
    padding: 20px;
}

.modal .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    
    &__icon {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        transition: all 0.2s ease-in-out;
        
        &:hover {
            fill: $pink-color;
        }
    }
}

.modal-form {

    &__title {
        margin-bottom: 10px;
    }

    &__field {
        width: 100%;
        margin-bottom: 10px;
        padding: 4px;
        border: 1px solid #9E9E9E;
        background-color: #ccc;
    }

    &__field--big {
        height: 100px;
        resize: vertical;
    }

    &__btn {
        border-color: $pink-color;
        padding: 8px 26px;
        cursor: pointer;
        color: $blue-color;
        font-weight: 900;
    }
}

//Scroll to top
.scroll-top {
    position: fixed;
    left: 0;
    bottom: -90px;
    width: 100%;
    height: 0px;
    box-shadow: 0 0 0 50px transparent;
    opacity: 0;
    outline: none;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
    &.js-scroll-top-show {
        bottom: 0;
        box-shadow: 0 0 0 0 $blue-color;
        opacity: 0.7;
    }
    &.js-scroll {
        .scroll-top__link {
            opacity: 1;
        }
    }
    &__link {
        display: block;
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        border-radius: 50%;
        box-shadow: 0 0 0 20px transparent;
        text-align: center;
        background-color: $blue-color;
        color: $white-color;
        opacity: 0.7;
        transition: all 0.4s ease-in-out;
        @include max-width(sm) {
            right: 15px;
        }
        &:hover {
            box-shadow: 0 0 0 0 $blue-color;
            background-color: $blue-color;
            opacity: 1;
        }
    }
    &__icon {
        vertical-align: middle;
        width: 35px;
        height: 35px;
        fill: $white-color;
    }
}

